<html>

  <head>
    <link href="/stylesheets/team.css" rel="stylesheet">
    <script>
        $(init);
        function init() {
            $(".photo2").resizable();
        }
    </script>
  </head>

  <body>
    <div id="tabs-1" class="tabs">
      <div class="photo2"></div>
      <div class="about">
        Software engineering graduate student at San Jose State University offering 4+ years of full stack development experience in the industry.
      </div>
      <div class="skills">
        <ol>
          <li>Java, Javascript, Python</li>
          <br>
          <li>MEAN and ELK stack</li>
          <br>
          <li>Docker</li>
          <br>
          <li>AWS</li>
          <br>
        </ol>
      </div>

      <div class="contact">
        <p>Contact Details:</p>
        <ul class="cont">
          <li>Email: arshdeep.singh01@sjsu.edu</li>
          <br>
          <li>Phone: 516-737-6245</li>
          <br>
        </ul>
      </div>

    </div>
  </body>

</html>