<html>
<head>

    <title>Create new eviction record</title>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

     <!-- Site Metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./../stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="./../stylesheets/font-awesome.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="./../stylesheets/style.css">

    <link rel="stylesheet" href="./../stylesheets/form.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="./../stylesheets/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./../stylesheets/custom.css">
    <script src="./../javascripts/modernizr.js"></script> <!-- Modernizr -->

</head>
<body id="page-top" class="politics_version background-color-grey">
    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: white;height: 60px;border-bottom: 1px solid; border-color: maroon;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">
			<h2 class="logo">EvictionLand</h2>
		</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
              <li style="color: black; margin-left: 30px;">
                  <a class="links" href="/admin/home" style="color:maroon;font-size:16px;">Home</a>
              </li>
              <li style="color: black; margin-left: 30px;">
                  <a class="links" href="/admin/bulkupload" style="color:maroon;font-size:16px;">Bulk Upload</a>
              </li>
              <li style="color: black; margin-left: 30px;">
                  <a class="links " href="/admin/usermanage" style="color:maroon;font-size:16px;">User Management</a>
              </li>
              <li style="color: black; margin-left: 30px;">
                  <a class="links" href="/users/logout" style="color:maroon;font-size:16px;">Logout</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="signup"  style="margin-top: 90px; min-height: 95%;">
        <div class="container">
            <div class="row">
        		<div class="col-md-5 formBox">
                        <br/>
                        <h2 style="font-weight: 900; text-align: center">Create new Eviction Record</h2>

                    <form name="signupFormCustomCard" name="signupForm" action="/create/new" method="post" onsubmit="return validateEvictionForm()">

                        <div class="inputFields">
                            <label class="feildName">State: </label>
                            <input class="name" type="text" name="email" value="">
                            <label class="error" id="NameError"></label>
                        </div>

                        <div class="inputFields">
                            <label class="feildName">Year:</label>
                            <input type="number" class="name" name="year" value="">
                            <label class="error" id="yearError"></label>
                        </div>

                		<div class="inputFields">
                            <label class="feildName">Population:</label>
                            <input type="number" class="name" name="population" value="">
                            <label class="error" id="populationError"></label>
                          </div>

                        <div class="inputFields">
                            <label class="feildName">Poverty Rate:</label>
                            <input type="number" class="name" name="povRate" value="">
                            <label class="error" id="povRateError"></label>
                        </div>


                        <div class="inputFields">
                            <label class="feildName">Median Gross Rent:</label>
                            <input type="number" class="name" name="MedGrossRent" value="">
                            <label class="error" id="MedGrossRentError"></label>
                        </div>

                        <div class="inputFields">
                            <label class="feildName">Median Household Income:</label>
                            <input type="text" class="name" name="MedHouseInc" value="">
                            <label class="error" id="MedHouseIncError"></label>
                        </div>

                        <div class="inputFields">
                            <label class="feildName">Median Property Value:</label>
                            <input type="text" class="name" name="MedianPropValue" value="">
                            <label class="error" id="MedianPropError"></label>
                        </div>

                        <div class="inputFields">
                            <label class="feildName">Rent Burden:</label>
                            <input type="text" class="name" name="RentBurden" value="">
                            <label class="error" id="RentBurdenError"></label>
                        </div>

                        <br/>
                        <div class="inputFields" style="text-align: center">
                            <input class="btn btn-primary" type="submit" value="Submit" style="background:maroon;"/>
                        </div>

                    </form>
        		</div>
            </div>
        </div>
    </section>

    <div class="copyrights" style="height: 80px;">
        <div class="container">
            <div class="footer-distributed" style="float: left;">
                <div class="footer-right">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">EvictionLand</a>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <!-- ALL JS FILES -->
    <script src="./../javascripts/all.js"></script>
    <!-- Camera Slider -->
    <script src="./../javascripts/jquery.mobile.customized.min.js"></script>
    <script src="./../javascripts/jquery.easing.1.3.js"></script>
    <script src="./../javascripts/parallaxie.js"></script>
    <script src="./../javascripts/headline.js"></script>
    <!-- Contact form JavaScript -->
    <script src="./../javascripts/jqBootstrapValidation.js"></script>
    <!-- <script src="./../javascripts/contact_me.js"></script> -->
    <!-- ALL PLUGINS -->
    <!-- <script src="./../javascripts/custom.js"></script> -->
    <script src="./../javascripts/jquery.vide.js"></script>
</body>
</html>
