<html>

<head>
    <link href="/stylesheets/team.css" rel="stylesheet">
    <script>
        $(init);
        function init() {
            $(".photo3").resizable();
        }
    </script>
</head>

<body>
<div id="tabs-1" class="tabs">
    <div class="photo3"></div>
    <div class="about">Graduate student from San Jose State University majoring in Software engineering.
        I'm specializing in Enterprise Software Technologies.
    </div>
    <div class="skills">
        <ol>
            <li>Javascript</li>
            <br>
            <li>Java</li>
            <br>
            <li>React JS</li>
            <br>
            <li>Angular</li>
            <br>
        </ol>
    </div>

    <div class="contact">
        <p>Contact Details:</p>
        <ul class="cont">
            <li>Email: DivyaKalidasan.Thazhathethil@sjsu.edu</li>
            <br>
            <li>Phone: 669-999-9999</li>
            <br>
        </ul>
    </div>

</div>
</body>

</html>