<html lang="en-us">

  <head>
    <link rel="stylesheet" href="/stylesheets/footer.css">
  </head>

  <body>
    <div class="footer">
      <div class="grid-item">
        <div class="copyright">
          @copyright EvictionLand 2018
        </div>
      </div>
    </div>
  </body>

</html>