<html lang="en-us">

    <head>
        <link rel="stylesheet" href="/stylesheets/header.css">
    </head>
    <div class="header">
        <nav>
            <ul id="navList">
                <li><span>EvictionLand</span></li>
                <li><a href="/home">Home</a></li>
                <li><a href="/dashboard/state">Dashboard</a></li>
                <li><a href="/rankings">Rankings</a></li>
                <li><a href="/ourteam">Contact</a></li>
                <li><a href="/users/logout">Logout</a></li>
            </ul>
        </nav>
    </div>

</html>