<!DOCTYPE html>
<html>

  <head>
    <title>US Map</title>
    <link rel="stylesheet" href="/stylesheets/map.css">
    <link rel="stylesheet" href="/stylesheets/analyzeData.css">
    <script src="/javascripts/raphael.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="/javascripts/color.jquery.js"></script>
    <script src="/javascripts/jquery.usmap.js"></script>
    <script src="/javascripts/domModify.js"></script>

    <script>
        $(document).ready(function() {
            $('#map').usmap({
                'click' : function(event, selected) {
                    $('#alert')
                        .text('Selected state: '+selected.name)
                        .stop()
                        .css('backgroundColor', '#ff0')
                        .animate({backgroundColor: '#ddd'}, 1000);

                    const Url ="http://localhost:3000/analyzeData/county?selectedState="+selected.name;
                    $.ajax({url : Url, success: function (res) {
                            var html ="";
                            for (var i = 1; i< res.data.length; i++) {
                                html += ' <div class="stateNames ui-widget-content">' +
                                    '<span class="stateDataCounty">'+res.data[i].county+'</span>' +
                                    '<span class="stateDataCase">'+res.data[i].case_numbers+'</span>' +
                                    '</div>';
                            }
                            $('#responseStateData').html(html);
                        }});
                }
            });
        });
    </script>

  </head>

  <body onload=headerModification()>
    <% include header %>
      <div id="alert">Selected State: </div>

      <div id="map"></div>
    <div class="stateData">

      <div>Data:</div>
      <div class="stateNames ui-widget-content">
        <span class="stateDataCounty selectedTitle">County</span>
        <span class="stateDataCase selectedTitle">Eviction count</span>
      </div>
      <div id="responseStateData">

      </div>
    </div>

<% include footer%>
  </body>

</html>