<html>

  <head>
    <link href="/stylesheets/team.css" rel="stylesheet">
    <script>
        $(init);
        function init() {
            $(".photo4").resizable();
        }
    </script>
  </head>

  <body>
    <div id="tabs-4">
      <div class="photo4"></div>
      <div class="about">Software Engineering graduate student at San Jose State University. Specializing in Cloud computing and Virtualization, and Data Science.
      </div>
      <div class="skills">
        <ol>
          <li>Python, Java, NodeJS</li>
          <br>
          <li>HTML, CSS, JavaScript, JQuery</li>
          <br>
          <li>Docker</li>
          <br>
          <li>AWS</li>
          <br>
        </ol>
      </div>
      <div class="contact">
        <p>Contact Details:</p>
        <ul class="cont">
          <li>Email: pavana.srinivasadeshikaachar@sjsu.edu</li>
          <br>
          <li>Phone: 408-598-6515</li>
          <br>
        </ul>
      </div>
    </div>
  </body>

</html>