<!DOCTYPE html>
<meta charset="utf-8">

<html>
<head>
    <title>US Map</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="/javascripts/linechart.js" ></script>
    <link rel="stylesheet" href="/stylesheets/map.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <script src="/javascripts/raphael.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="/javascripts/color.jquery.js"></script>
    <script src="/javascripts/jquery.usmap.js"></script>
    <script src="/javascripts/domModify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <link href="/stylesheets/nv.d3.min.css" >
    <script src="/stylesheets/nv.d3.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#map').usmap({
                'click' : function(event, selected) {
                    $("#piechart").children().children().remove();

                    const Url = "http://localhost:3000/piechart/state?selectedState="+selected.name;
                    $.ajax({url : Url, success: function (res) {
                            addPieChart(res);
                        }});
                }
            });
        });

        // addLineGraph([]);

        function addPieChart(piechart) {
            nv.addGraph(function() {
                var chart = nv.models.pieChart()
                    .x(function(d) { return d.label })
                    .y(function(d) { return d.value })
                    .showLabels(false);

                d3.select("#piechart svg")
                    .datum(piechart)
                    .transition().duration(350)
                    .call(chart);

                return chart;
            });
        }
    </script>

</head>
<body onload=headerModification()>
<div id="map" style="width: 500px; height: 300px"></div>
<div id="piechart">
    <svg></svg>
</div>
</body>
</html>