<html>
    <meta charset="utf-8">

    <head>
        <title>EvictionLand</title>
        <link rel="stylesheet" href="/stylesheets/bargraph.css">
        <link rel="stylesheet" href="/stylesheets/rankings.css">

        <link href="/stylesheets/jquery-ui.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <!-- <script src="/javascripts/domModify.js"></script> -->
        <!-- Site Icons -->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="./../stylesheets/bootstrap.min.css">

        <link rel="stylesheet" href="./../stylesheets/font-awesome.min.css">
        <!-- Site CSS -->
        <link rel="stylesheet" href="./../stylesheets/style.css">

        <!-- Responsive CSS -->
        <link rel="stylesheet" href="./../stylesheets/responsive.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="./../stylesheets/custom.css">
    	<script src="./../javascripts/modernizr.js"></script> <!-- Modernizr -->

        <script>
            $(function() {
                var availableTags = [
                    "Maryland",
                    "New York",
                    "Michigan",
                    "Texas",
                    "Georgia",
                    "New Jersey",
                    "Nevada",
                    "District of Columbia",
                    "Ohio",
                    "Virginia",
                    "Pennsylvania",
                    "Delaware",
                    "Missouri",
                    "Colorado",
                    "Massachusetts",
                    "Nebraska",
                    "Utah",
                    "Hawaii",
                    "Alaska",
                    "Arkansas",
                    "New Mexico",
                    "Maine",
                    "North Dakota",
                    "Wyoming",
                    "Vermont",
                    "South Dakota"
                ];

                $("#tags").autocomplete({
                    source: availableTags
                });

            });
        </script>
    </head>

    <body id="page-top" class="politics_version">
        <!-- Navigation -->

        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: white;height: 60px;border-bottom: 1px solid; border-color: maroon;">
          <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">
    			<h2 class="logo">EvictionLand</h2>
    		</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li style="color: black; margin-left: 30px;">
                      <a class="links" href="/stateAnalysis" style="color:maroon;font-size:16px;">State Analysis</a>
                  </li>
                  <li style="color: black; margin-left: 30px;">
                      <a class="links " href="/compare" style="color:maroon;font-size:16px;">Compare Evictions</a>
                  </li>
                  <li style="color: black; margin-left: 30px;">
                      <a class="links" href="/dashboard/state" style="color:maroon;font-size:16px;">Dashboard</a>
                  </li>
              </ul>
            </div>
          </div>
        </nav>

        <section id="signup"  style="margin-top: 90px; height: 89%;">

                    <div style="margin-left: 2%;margin-right: 3%; width: 100%;">
                        <form class="rankingForm" method="get" action="/rankings/state">
                            <!-- <div class="heading">Please search a region to display Eviction Rankings</div> -->
                            <span style="font-size: 19px;">Top <span id="numbers"></span>results with Eviction Rate in Descending order:</span>
                            <span style="width: 100%; margin-left: 34%;">
                                <label for="tags">Search: </label>
                                <input id="tags" name="selectedState" style="height: 35px;border-radius: 4px; border: 1px solid;border-color: gray;">
                                <button class="okButton" type="submit" style="font-size: 16px;width: 90px;height:36px; border-radius: 4px;">Submit</button>
                            </span>
                        </form>
                    </div>
                </div>
                <br>
                <br>
                <div id="graphic" class="graphic"></div>
        </section>

        <div class="copyrights" style="height: 80px;">
            <div class="container">
                <div class="footer-distributed" style="float: left;">
                    <div class="footer-right">
                        <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">EvictionLand</a>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end copyrights -->
        <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script>
            //set up svg using margin conventions - we'll need plenty of room on the left for labels
            var data;
            data = <%- JSON.stringify(data) %>;
            var margin = {
                top: 0,
                right: 25,
                bottom: 5,
                left: 60
            };

            var width = 920 - margin.left - margin.right,
                height = 500 - margin.top - margin.bottom;

            var svg = d3.select("#graphic").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var x = d3.scale.linear()
                .range([0, width])
                .domain([0, d3.max(data, function(d) {
                    return d.case_numbers;
                })]);

            var y = d3.scale.ordinal()
                .rangeRoundBands([height, 0], .1)
                .domain(data.map(function(d) {
                    return d.county;
                }));

            var bars = svg.selectAll(".bar")
                .data(data)
                .enter()
                .append("g");

            var tooltip = d3.select("#graphic")
                .append("div")
                .attr("class", "mytooltip")
                .text("");

            //append rects
            bars.append("rect")
                .attr("class", "bar")
                .attr("y", function(d) {
                    return y(d.county);
                })
                .attr("height", y.rangeBand())
                .attr("x", 0)
                .attr("width", function(d) {
                    return x(d.case_numbers);
                })
                .style("fill", "#D1BCD6")
                .on("mouseover", function() {
                    return tooltip.style("visibility", "visible");
                })
                .on("mousemove", function(d) {
                    return tooltip.style("top",
                            (d3.event.pageY - 10) + "px").style("left", (d3.event.pageX + 10) + "px")
                        .text("Rank: " + d.rank + "\nCounty: " + d.county + "\nCase No.: " + d.case_numbers);
                })
                .on("mouseout", function() {
                    return tooltip.style("visibility", "hidden");
                });

            //add a value label to the right of each bar
            bars.append("text")
                .attr("class", "ranking_name")
                //y position of the label is halfway down the bar
                .attr("y", function(d) {
                    return y(d.county) + y.rangeBand() / 2 + 4;
                })
                //x position is 3 pixels to the right of the bar
                .attr("x", function(d) {
                    return 5;
                })
                .text(function(d) {
                    return d.county + "   " + d.case_numbers;
                });

            bars.append("text")
                .attr("class", "ranks")
                //y position of the label is halfway down the bar
                .attr("y", function(d) {
                    return y(d.county) + y.rangeBand() / 2 + 4;
                })
                //x position is 3 pixels to the right of the bar
                .attr("x", function(d) {
                    return -30;
                })
                .text(function(d) {
                    return d.rank;
                });
        </script>
        <script src="/external/jquery/jquery.js"></script>
        <script src="/javascripts/jquery-ui.js"></script>
    </body>
