<html>

<head>
    <link href="/stylesheets/team.css" rel="stylesheet">
    <script>
        $(init);
        function init() {
            $(".photo1").resizable();
        }
    </script>
</head>

<body>
<div id="tabs-1" class="tabs">
    <div class="photo1"></div>
    <div class="about">
        Pursuing Computer Software Engineering at San Jose State University. I am specializing in Enterprise Software
        Technologies. I have around 2 years of professional experience as a Full-stack developer and a software
        Engineer.
    </div>
    <div class="skills">
        <ol>
            <li>Javascript</li>
            <br>
            <li>Java</li>
            <br>
            <li>React JS</li>
            <br>
        </ol>
    </div>

    <div class="contact">
        <p>Contact Details:</p>
        <ul class="cont">
            <li>Email: Shashank.singh@sjsu.edu</li>
            <br>
            <li>Phone: 669-220-8812</li>
            <br>
        </ul>
    </div>

</div>
</body>

</html>